*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: gray;
}
.main img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1),violet);
    top:0;
    left:0;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
}
.main:hover .overlay{
    opacity: 1;

}
.navbar{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 40px 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar h1{
    color: white;
    font-size: 25px;
    font-weight: 900;

}
nav ul li {
     list-style: none;   /* remove bullet */
     display: inline-block;
     margin: 0 20px; /* top buttom = 0 left right = 20px */
     position: relative; 
    }
    nav ul li a{
        text-decoration: none; /* undeline remoive */
        color: white;
        font-size: 16px;

    }
    .button a {
        color: white;
        padding: 0 20px;
        font-weight: 900;
        font-size: 16px;
        text-decoration: none;
    }

    nav ul li::after{
        content: ' ';
        width: 0;
        height: 2px;
        background-color: white;
        top: 20px;
        left: 0;
        position: absolute;
        transition: 2s ease;
    }
    nav ul li:hover::after {
        width: 100%;
    }
    .app-button{
        padding: 10px 15px;
        background-color: violet;
        border-radius: 25px;
        border-top-right-radius: 0;  /* nice thing not change only one border */
        transition: 0.5 ease;

    } 
    .app-button:hover{
     border-top-right-radius: 25px;
    }
    .content{
        max-width: 500px;
        left: 8%;
        bottom: 0%;
        position: absolute;
        opacity: 0;  /*  p h2 not show
         nnot visible texy text gaib hu jata haui is k uper corsor lakr ana saa  */
         transition: 2s ease;         
    }
    .content h2{
        color: white;
        font-size: 60px;

    }
    .content p {
        color: white;
        font-size: 16px;
        margin: 20px 0;  
        /* top bottom 20px left rigvht 0  */
    }
    .join-button {
width: 150px;
padding: 10px 0;
background: violet;
border: none;
outline: none;
color: white;
font-size: 16px;
border-radius: 25px;
border-top-right-radius: 0px;
transition: 0.5s ease;
    }
.join-button:hover{
    border-top-right-radius: 25px;

}
.main:hover .content {
    bottom: 20%;
    opacity: 1;
    
}